parameters:
	level: 5
	paths:
		- src/
	excludePaths:
		- vendor/*
	parallel:
		jobSize: 20
		maximumNumberOfProcesses: 32
		minimumNumberOfJobsPerProcess: 2
	inferPrivatePropertyTypeFromConstructor: true
	treatPhpDocTypesAsCertain: true
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '#Call to an undefined method Mockery\\.+#'
includes:
	- vendor/phpstan/phpstan-mockery/extension.neon
